# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# Canvas
canvas/build/
canvas/out/
canvas/obj/
canvas/bin/
canvas/Debug/
canvas/Release/
canvas/*.sln
canvas/*.vcxproj
canvas/*.vcxproj.filters
canvas/*.vcxproj.user
canvas/*.vcproj
canvas/*.vcproj.filters
canvas/*.vcproj.user

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.sln.ide-shm
*.sln.ide-wal
*.sw*
commands.md
